@nubeteck:registry=https://git.nubeteck.com/api/packages/nubeteck/npm/
registry=https://registry.npmjs.org/
 
//git.nubeteck.com/api/packages/nubeteck/npm/:_authToken=d4db4447c6428132b7a800d8dc64deb79f8300e9
//git.nubeteck.com/api/packages/npm/:_authToken=d4db4447c6428132b7a800d8dc64deb79f8300e9